<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>TODO</title>
</head>

<body>
    <div id="app">
        <h1>TO-DO-LIST</h1>
        <ul>
            <li v-for="(todo, todo_position) in list">
                <span @click="change_done(todo)" :class="{overline: todo.done==true}">{{todo.text}}</span>
                <span class="cross" @click="remove_todo(todo_position)">&#10005;
                </span>
            </li>
        </ul>

        <input type="text" placeholder="Inserire nuovo compito" v-model="new_todo" @keyup.enter="add_todo">
        <button @click="add_todo"> Aggiungi </button>
    </div>

    <script src="js/script.js"></script>
</body>

</html>