* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 88, 152);

}

#app {
    padding: 10px;
    color: white;
}

h1 {
    text-align: center;
}

ul {
    margin: 50px;
    list-style-type: square;
}

li {
    margin-top: 10px;
    font-size: 1.5rem;
}

.cross {
    background-color: indianred;
    padding: 1px;
}

.overline {
    text-decoration: line-through;
}

.input_box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.lists_container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}



.achieved_tasks {
    opacity: 0.5;
}